<!-- reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Reset Password</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const newPasswordInput = document.getElementById('id_new_password');
            const confirmPasswordInput = document.getElementById('id_confirm_password');
            const submitButton = document.querySelector('button[type="submit"]');
            const errorContainer = document.getElementById('password-mismatch-error');
            
            if(confirmPasswordInput){
            confirmPasswordInput.addEventListener('input', validatePasswordMatch);
            }
            function validatePasswordMatch() {
                const newPassword = newPasswordInput.value;
                const confirmPassword = confirmPasswordInput.value;

                if (newPassword !== confirmPassword) {
                    errorContainer.textContent = 'Passwords do not match';
                    submitButton.disabled = true;
                } else {
                    errorContainer.textContent = '';
                    submitButton.disabled = false;
                }
            }
        });
    </script>
</head>
<body>
    <h2>Reset Password</h2>
    <form class="form" method="post" action="{% url 'reset-password' token %}">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        <div>
            <div class="form-label">{{ form.new_password.label_tag }}</div>
            <div class="form-text">{{ form.new_password }}</div>
            {{ form.new_password.errors }}
        </div>
        
        <div>
            <div class="form-label">{{ form.confirm_password.label_tag }}</div>
            <div class="form-text">{{ form.confirm_password }}</div>
            {{ form.confirm_password.errors }}
        </div>

        <div id="password-mismatch-error" class="error-message"></div>

        <button class="btn btn-primary mt-3" type="submit" disabled>Reset Password</button>
    </form>
</body>

</html>
